*{

	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family:'Open Sans',sans-serif;
}
/*header fonts*/

h1,
h2,
h3,
h4,
h5,
h6{

	font-family: 'Zilla Slab',serif;
	font-weight:bolder;
}

p{
	font-weight: bold;
	color: white;
}




#landing-jumbo{

	/*background-image: url("../images/landingpic.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 100vh;*/
	display: flex;
	align-items: center;
	color: white;
	background-color: #379683;
	text-align: center;
	background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");

}

#profile-picture{

	background-image: url("../images/picture2.jpg");
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height: 40vh;
}



.tech-stack{

	height: 100px;
	margin-top: 15px;
	background-size:contain; 
	background-repeat: no-repeat;
	background-position: center;
}

#html{
	

	background-image: url("../images/htmlpic.png"); 
}

#css{

	

	background-image: url("../images/csspic.png");
}

#js{

   
	background-image: url("../images/jspic.png");
}

#gitlab{


	background-image: url("../images/gitpic.jpg");
}

#google{


	background-image: url("../images/google.png");
}

#work-button{

	margin: 20px;
}

.tech-ive-built{
   text-align: center;
}




body{

	background-color:#9fb8ad;
	
}





.btn{
  
     
     background-color:#05386B;
     color: white;
     margin-top: 50px;
     


}

.btn:hover{

	background: #05526b;
	color: white;
}





.row-title{

		text-align: center;
		margin-top: 7rem;
		margin-bottom: 5rem;

}



 .portfolio-card{

 	width: 100%;
 	text-align: center;
 }


 .contact-cont{
 	margin-bottom: 3rem;
 }

 iframe{

 	width: 100%;
 	border: 0;

 }


 footer{
	display: flex;
	justify-content: center;
	/*margin-top: 20px;*/
	padding:5px;
	background-color:#3f4f52;
	/*background-color: #5f968d;*/

}



/*removed: style="border:0;" on the map beside frameborder="0"*/

/*Buttin colors: #05386B*/





